{% extends "base.html" %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <h2>Ваша корзина</h2>
    {% if cart_items %}
    <ul>
        {% for cart_item, product in cart_items %}
            <li>
                <h3>{{ product.name }}</h3>
                <p>Цена: {{ product.price }} ₽</p>
                <p>Количество: {{ cart_item.quantity }}</p>
                <form action="{{ url_for('remove_from_cart', cart_item_id=cart_item.id) }}" method="POST">
                    <button type="submit">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('checkout') }}" method="GET">
        <button type="submit">Оформить заказ</button>
    </form>
    {% else %}
    <p>Ваша корзина пуста.</p>
    {% endif %}
{% endblock %}
